.post {
  background-color: #101012;
  padding: 20px;
  margin-bottom: -10px;
  border-radius: 10px;
  width: 830px;
  margin: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.post p {
  color: #ffffff;
  margin-top: -10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.menu-icon {
  position: relative;
  margin-left: auto;
}

.dropdown-menu {
  top: 20px;
  left: -90px;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #9b9e9c;
}

.post img {
  width: 100%;
  height: 60%;
  border-radius: 20px;
}

.feed {
  padding: 20px;
}

.feed1 {
  padding: 20px;
}

.feed1 h2 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -10px;
}

.user-profile2 p {
  margin-left: 60px;
  margin-top: -10px;
  color: #888;
  font-size: 14px;
}

.user-profile2 {
  margin-bottom: 20px;
  text-align: left;
}

.user-profile2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.user-profile2 .username {
  font-size: 17px;
  font-weight: bold;
}

.post-icons {
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.post-icons span {
  margin-right: 10px;
  padding: 10px;
  color: white;
  margin-top: -5px;
}

.menu-icon {
  cursor: pointer;
  margin-left: 630px;
  margin-top: -7px;
}

.pagination-container {
  justify-content: center;
  display: flex;
}

.pagination {
  display: inline-block;
}

.fa-comment {
  font-size: 20px;
  margin-left: 10px;
}

.like-icon.liked span {
  color: red;
}

.likes-list {
  margin-top: 10px;
}

.like-icon.liked .material-symbols-outlined {
  color: red;
}

.post-icons span {
  margin-right: -10px;
  padding: 10px;
  color: white;
  margin-top: -5px;
}

.latest-like p {
  font-size: 15px;
}

.like-icon.liked {
  color: red;
}