.profile-card {
    display: flex;
    align-items: flex-start;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 30px;
}

/* Tabs container */
.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 818px;
    margin-left: 20px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #101012;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.tab.active,
.tab:hover {
    background-color: #333333;
}

.badge {
    background-color: rgba(59, 130, 246, 0.5);
    border-radius: 12px;
    padding: 5px 8px;
    margin-left: 5px;
    font-size: 15px;
    vertical-align: middle;
}

.h {
    width: 815px;
    margin-left: 20px;
}

.material-icons.filled {
    color: red;
}

.details-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    flex: 1;
}

.additional-info {
    margin-top: 35px;
    margin-left: -125px;
}

.bio {
    font-size: 18px;
}

.edit-profile-icon {
    top: 20px;
    margin-top: 30px;
    right: 20px;
    background-color: #101012;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.edit-profile-icon a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.edit-profile-icon a i {
    margin-right: 5px;
}

.edit-profile-icon a:hover {
    color: white;
    text-decoration: none;
}

.post img {
    width: 100%;
    height: 60%;
    border-radius: 20px;
}

.post {
    background-color: #101012;
    padding: 20px;
    margin-bottom: -10px;
    border-radius: 10px;
    width: 830px;
    margin: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.post p {
    color: #ffffff;
    margin-top: -10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.feed {
    padding: 20px;
}

.join {
    background-color: black;
    color: white;
    text-align: center
}

.user-profile2 p {
    margin-left: 60px;
    margin-top: -10px;
    color: #888;
    font-size: 14px;
}

.user-profile2 {
    margin-bottom: 20px;
    text-align: left;
}

.user-profile2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.name-username {
    margin-bottom: 10px;
    margin-top: 30px;
}

.fullname {
    font-size: 24px;
    font-weight: bold;
}

.username1 {
    font-size: 17px;
    margin-top: 5px;
    color: rgb(105 124 137);
}

.date {
    font-size: 16px;
}

.user-profile2 .username {
    font-size: 17px;
    font-weight: bold;
}

.menu-icon {
    cursor: pointer;
    margin-left: 630px;
    margin-top: -7px;
}

.like-icon.liked .material-symbols-outlined {
    color: red;
}

.latest-like p {
    font-size: 15px;
}

.post-icons {
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.post-icons span {
    padding: 8px;
    color: white;
    margin-top: -5px;
}

.dropdown {
    margin-left: 700px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.fa-comment {
    font-size: 20px;
    margin-left: 10px;
}

